{% extends 'admin_templates/base_template.html' %}
{% block title %}
Category List
{% endblock title %}
{% block custom_css %}
<style>
  .hover-shadow-5px:hover{
    box-shadow: 0 0 5px gray;
    text-decoration: none;
  }
</style>
{% endblock custom_css %}
{% block page_title %}
Category List
{% endblock page_title %}
{% block page_content %}
<form method="GET" class="form-inline">
  <div class=" col-12">
    <div class="form-group" style="float: right;">
      <label class="form-label">Sort by</label>
      <!-- <div class="selectgroup w-100">
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}" style="text-decoration:none;">
            <input type="radio" name="value" value="50" class="selectgroup-input" checked>
            <span class="selectgroup-button hover-shadow-5px">None</span>
          </a>
        </label>
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}?filter={{ filter }}&orderby=id" style="text-decoration:none;">
            <input type="radio" name="value" value="50" class="selectgroup-input">
            <span class="selectgroup-button hover-shadow-5px">ID</span>
          </a>
        </label>
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}?filter={{ filter }}&orderby=title" style="text-decoration:none;">
            <input type="radio" name="value" value="100" class="selectgroup-input">
            <span class="selectgroup-button hover-shadow-5px">Title</span>
          </a>
        </label>
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}?filter={{ filter }}&orderby=description" style="text-decoration:none;">
            <input type="radio" name="value" value="150" class="selectgroup-input">
            <span class="selectgroup-button hover-shadow-5px">Description</span>
          </a>
        </label>
      </div> -->
      <div class="selectgroup">
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}" style="text-decoration:none;">
            <input type="radio" name="value" value="50" class="selectgroup-input" {% if orderby == "" %}checked{% endif %}>
            <span class="selectgroup-button hover-shadow-5px">None</span>
          </a>
        </label>
        {% for i in sorting_fields %}
        <label class="selectgroup-item">
          <a href="{% url 'category_list_view' %}?filter={{ filter }}&orderby={{i}}" style="text-decoration:none;">
            <input type="radio" name="value" value="150" class="selectgroup-input" {% if orderby == i %}checked{% endif %}>
            <span class="selectgroup-button hover-shadow-5px">{{i.capitalize}}</span>
          </a>
        </label>
        {% endfor %}
      </div>
    </div>
    <div class="search-element">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px;" name="filter" value="{{filter}}">
      <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>      
    </div>
  </div>
</form>

<br>
<div class="row">
    {% for i in categories_list %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">
          <div class="article-header">
            <div class="article-image" data-background="/media/{{ i.thumbnail }}">
            </div>
            <div class="article-badge">
                <div class="article-badge-item bg-primary">{{i.title}}</div>
            </div>
          </div>
          <div class="article-details">
              <h4>{{ i.title }}</h4>
            <p class="description-6em">{{ i.description }}</p>
            <p>URL Slug: {{ i.url_slug }}</p>
            <div class="article-cta">
                <label class="custom-switch mt-2" style="float:left;">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if i.is_active %} checked {% endif %} disabled>
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">ACTIVE</span>
                  </label>
              <a href="{% url 'category_update_view' i.id %}" class="btn btn-primary">EDIT <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}
</div>
<div class="col-12">
  <ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}{% url 'category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
    </li>
    {% for i in paginator.page_range %}
    <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a href="{% url 'category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}" class="page-link">{{ i }}</a></li>
    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}{% url 'category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}{% endif %}" tabindex="-1">Next</a>
    </li>
  </ul>
</div>
{% endblock page_content %}
{% block custom_js %}
{% endblock custom_js %}